https://polyworlds.net, https://www.polyworlds.net {
  reverse_proxy app:3000 {
    header_up X-Forwarded-Proto {schema}
    header_up X-Forwarded-Host {host}
  }
}

https://assets.polyworlds.net {
  root /avatars/* /srv/assets/avatars
  file_server
}