https://polyworlds.net, https://www.polyworlds.net {
  reverse_proxy app:3000 {
    header_up X-Forwarded-Proto {schema}
    header_up X-Forwarded-Host {host}
  }
}

(avatars) {
  handle_path /avatars/* {
    root * /srv/assets/avatars
    file_server
  }
  handle_path /headshots/* {
    root * /srv/assets/headshots
    file_server
  }
}

https://assets.polyworlds.net {
  import avatars
}

http://localhost {
  import avatars
}
